.arrow-top {
    position: fixed;
    right: 20px;
    bottom: -100%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--main-color);
    transition: ease 0.5s all;
    &::after {
        content: '';
        display: block;
        width: 32px;
        height: 10px;
        background-color: var(--bg-color);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transform: rotate(-45deg);
        position: absolute;
        top:19px;
        left: 1px;
    }
    &::before {
        content: '';
        display: block;
        width: 32px;
        height: 10px;
        background-color: var(--bg-color);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transform: rotate(45deg);
        position: absolute;
        top: 20px;
        left: 17px;
    }
}
.active-arrow {
    display: block;
    bottom: 20px;
}