.business {
    padding-top: 50px;
    &__grid-container {
        padding: 0 30px;
        display: grid;
        grid-template: auto / repeat(2, auto);
        grid-auto-rows: auto;
        column-gap: 163px;
        justify-content: space-between;
    }
    &__descr {
        align-self: center;
    }
    &__text {
        margin-top: 32px;
        letter-spacing: 0.5px;
    }
    &__images {
        width: 403px;
        height: 415px;
        position: relative;
        align-self: center;
    }
    &__img {
        display: block;
        position: absolute;
        &_1 {
            bottom: 104px;
            right: 0;
        }
        &_2 {
            top: 0;
            left: 29px;
        }
        &_3 {
            top: 85px;
            left: -36px;
        }
    }
}