.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--main-color);
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 3px;
    color: #ffffff;
    transition: ease 0.3s all;
    z-index: 1;
    &_transparent {
        background-color: transparent;
        border: 1px solid var(--main-color);
    }
    &:hover {
        color: #ffffff;
        box-shadow: 0 0 10px var(--main-color);
        transition: ease 0.3s all;
    }
    &_header {
        width: 112px;
    }
    &_menu-signin, &_menu-signup {
        font-size: 15px;
        height: 36px;
        transition: ease 0.3s all;
        &:hover {
            transition: ease 0.3s all;
            box-shadow: none;
            color: #3B1D60;
        }
    }
    &_menu-signup {
        border: 1px solid #ffffff;
        border-radius: 3px;
        width: 220px;
        margin: 0 auto;
        &:hover {
            border-color: #3B1D60;
        }
    }
    &_promo {
        width: 157px;
    }
    &_traffic {
        margin-top: 43px;
        width: 155px;
        height: 48px;
        box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
    }
    &_create {
        margin: 46px auto 0 auto;
        width: 164px;
        height: 54px;
    }
    &_business {
        margin-top: 43px;
        width: 155px;
        height: 54px;
        box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
    }
}