@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__menu {
            padding-right: 245px;
        }
    }
    .promo {
        &__choises {
            padding: 0;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        &__menu {
            padding-right: 5px;
        }
    }
    .promo {
        &__brands {
            padding: 0;
        }
    }
    .traffic {
        &__grid-container {
            column-gap: 30px;
            padding: 0;
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        top: 20px;
        &__grid-container {
            grid-template-columns: repeat(2, auto);
            column-gap: 0;
        }
        &__navbar {
            display: none;
        }
        &__btns {
            display: none;
        }
        &__hamburger {
            justify-self: end;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &__active-hamburger {
            display: none;
        }
        &__hamburger-line {
            height: 6px;
            width: 36px;
            background-color: var(--main-color);
            border-radius: 3px;
            &_center {
                background-color: #ffffff;
            }
        }
    }
    .promo {
        padding-top: 200px;
        &__img-man {
            display: none;
        }
        &__brands {
            grid-template: repeat(2, 25px) / repeat(3, auto);
            justify-content: space-around;
            row-gap: 30px;
        }
        &__choises {
            justify-content: center;
            grid-template: repeat(2, minmax(106px, auto)) / repeat(auto-fit, 100%);
        }
    }
    .traffic {
        padding: 100px 0;
        &__grid-container {
            grid-template: repeat(2, auto) / auto;
            column-gap: 0;
            row-gap: 40px;
        }
        &__images {
            justify-self: end;
        }
    }
    .metricks {
        &__img-stars {
            display: none;
        }
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100vw;
        padding: 0 15px;
    }
    .title_key {
        font-size: 30px;
    }
    .menu {
        &__block {
            width: 250px;
        }
    }
    .promo {
        padding-top: 150px;
        &__title {
            font-size: 30px;
            text-align: center;
        }
        &__text {
            font-size: 13px;
            text-align: center;
        }
        &__btns {
            width: 100%;
            justify-content: center;
        }
        &__button {
            width: 135px;
            margin: 0 10px;
        }
        &__preview {
            margin-top: 60px;
            width: 100%;
            display: grid;
            grid-template: auto auto / 1fr;
            grid-auto-rows: auto;
            column-gap: 0;
            row-gap: 20px;
            text-align: center;
        }
        &__video {
            justify-self: center;
        }
        &__descr {
            font-size: 13px;
        }
        &__brands {
            margin-top: 60px;
            grid-template: repeat(3, 25px) / repeat(2, auto);
        }
        &__subtitle {
            margin-top: 60px;
            font-size: 30px;
        }
        &__choise-text, &__choise-descr {
            font-size: 13px;
        }
    }
    .traffic {
        padding-top: 60px;
        &__descr {
            text-align: center;
        }
        &__subtitle {
            font-size: 30px;
        }
        &__text {
            margin-top: 25px;
            font-size: 13px;
        }
        &__button {
            margin: 30px auto 0 auto;
            box-shadow: none;
        }
        &__grid-container {
            grid-template: repeat(2, auto) / auto;
            column-gap: 0;
            row-gap: 40px;
        }
        &__images {
            justify-self: end;
            width: 100%;
        }
        &__img {
            &_1 {
                display: none;
            }
            &_2 {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &_3 {
                top: 174px;
            }
            &_4 {
                top: -12px;
                right: -19px;
            }
        }
    }
    .metricks {
        padding-top: 0;
        &__wrapper {
            justify-content: center;
        }
        &__subtitle {
            font-size: 30px;
        }
        &__text {
            font-size: 13px;
        }
        &__header {
            font-size: 25px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .create {
        &__subtitle {
            font-size: 30px;
        }
    }
}