.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    opacity: 0;
    z-index: 10;
    transition: ease 0.3s all;
    visibility: hidden;
    &__block {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 90px;
        width: 300px;
        height: 100vh;
        background-color: var(--main-color);
        z-index: 1;
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        opacity: 0.7;
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        height: 36px;
        width: 36px;
        cursor: pointer;
        &:hover {
            &:after, &:before {
                background-color: #3B1D60;
            }
        }
        &:after, &:before {
            content: '';
            position: absolute;
            top: 15px;
            display: block;
            height: 6px;
            width: 36px;
            background-color: #ffffff;
            border-radius: 3px;
            transform: rotate(45deg);
        }
        &:before {
            transform: rotate(-45deg);
        }
    }
    &__list {
        text-align: center;
    }
    &__item {
        margin: 30px 0;
    }
    &__link {
        display: block;
        color: #ffffff;
        text-decoration: none;
        transition: ease 0.3s all;
        &:hover {
            color: #3B1D60;
        }
    }
    &__btns {
        position: absolute;
        bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90px;
        width: 100%;
    }
    &__active {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
}   