.metricks {
    text-align: center;
    &__img-stars {
        position: absolute;
        top: -342px;
        left: -221px;
        z-index: -1;
    }
    &__subtitle-key {
        color: var(--main-color);
    }
    &__text, &__descr {
        margin-top: 32px;
        letter-spacing: 0.2px;
    }
    &__wrapper {
        margin-top: 48px;
        display: grid;
        grid-template: auto / repeat(auto-fit, 270px);
        grid-auto-rows: auto;
        row-gap: 40px;
        justify-content: space-between;
    }
    &__header {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.33px;
    }
    &__descr {
        margin-top: 16px;
    }
}