.title {
    font-family: 'Inter';
    font-size: 42px;
    line-height: 50px;
    color: var(--title-color);
    &_fs44 {
        font-size: 44px;
    }
    &_key {
        color: var(--main-color);
    }
    &_fs26 {
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 1px;
    }
}