@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/icomoon';

:root {
    --bg-color: #0F1144;
    --main-color: #F2994A;
    --title-color: #99EFD0;
    --text-color: #8476AA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

h1, h2, h3, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

@import 'blocks/titles';
@import 'blocks/textes';
@import 'blocks/buttons';

@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/traffic';
@import 'blocks/metricks';
@import 'blocks/create';
@import 'blocks/business';
@import 'blocks/help';
@import 'blocks/email';
@import 'blocks/footer';
@import 'blocks/arrowtop';
@import 'blocks/preload';

@import 'blocks/media';