@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

:root {
    --bg-color: #0F1144;
    --main-color: #F2994A;
    --title-color: #99EFD0;
    --text-color: #8476AA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-SemiBold', sans-serif;
    color: var(--text-color, #8476AA);
}

body {
    background-color: var(--bg-color, #0F1144);
}

h1, h2, h3, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

@import 'blocks/titles';
@import 'blocks/buttons';

@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/traffic';
@import 'blocks/metricks';

@import 'blocks/media';